<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Après-vente</h2>
    <p>Questions relatives au service après-vente</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Modifier un abonnement</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Faire une réclamation</li>
      <div class="arrow_box">
        <p>Pour toute réclamation, merci de nous envoyer un email à bonjour@lelabo-ondemand.com</p>
      </div>
    </ul>
  </div>
</div>
