<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion de votre abonnement</h2>
    <p>Questions relatives à la gestion de votre abonnement</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Comment profiter d'un essai gratuit ?</li>
      <div class="arrow_box">
        <p>Un essai gratuit est ouvert pour chaque inscription sur le site.</p>
        <p>La durée de celui ci est de 30 jours.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Renouvellement et arrêt</li>
      <div class="arrow_box">
        <p>Le renouvellement de votre formule est automatique, si vous souhaitez ne pas le renouveler, merci d'envoyer un email en précisant votre demande à bonjour@lelabo-ondemand.com.</p>
        <p>Nous nous chargerons d'annuler le renouvellement automatique de votre formule.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Combien de temps avant l'accès ?</li>
      <div class="arrow_box">
        <p>Une fois votre paiement validé, vous avez accès aux options payantes immédiatement.</p>
      </div>
    </ul>
  </div>
</div>
