<div class="class-helper inline_divs">
  <%= link_to edit_provider_path(provider) do %>
    <div class="line-cntnr">
      <span class="ing-name">
        <%= truncate(provider.name.humanize, length: 25) %>
      </span>
      <%= link_to provider_path(provider.id), method: :delete, id: "delete-task" do %>
				<%= image_tag "delete-sml.png", class: "delete-rcp delete-pop-over delete-tsk-btn delete-down" %>
			<% end %>
    </div>
  <% end %>
</div>
