<% title "Modifier #{@provider.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @provider.name %></h1>
		<p class="lft-p">Modifier le fournisseur</p>
	</div>
	<div class="page-ctas">
		<%= link_to providers_path do %>
			<p class="primary-btn ttl-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %><br/>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="tasks-cntnr">
			<%= render "form", provider: @provider %>
		</div>
	</div>
</div>
