<% title "Modifier #{@provider.name.humanize}" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<%= render "form" %>
		<%= link_to "Retour", :back %><br/>
		<%= link_to "Index", providers_path %>
	</div>
</div>