<% title "Nouveau fournisseur" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Nouveau fournisseur</h1>
		<p class="lft-p">Créer un nouveau fournisseur</p>
	</div>
	<div class="page-ctas">
		<%= link_to providers_path do %>
			<p class="ttl-btn primary-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %><br/>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="action-cntnr">
			<%= render "form", provider: @provider %>
		</div>
	</div>
</div>
