<% title "Blog - index" %>
<body class="grey-bckgrnd">
	<div class="title-cntnr">
		<h1 class="big-white-h1">Blog</h1>
		<p>Le blog du Labo</p>
	</div>
	<div class="standard-form-cntnr2">
		<div class="post-cntnr">
			<%= link_to do %><div class="post-index-img cover"></div><% end %>
			<div class="post-index-txt">
				<%= link_to do %><h2 class="beautiful-txt-color">titre de l'article</h2><% end %>
				<h5>Écris par Tim</h5>
				<p>Lorem ipsum dolor blablabla blabl ablablab lablab lablab lablabla blabla blablabl ablablablab lablab lablabl ablabla blablablabl ablabla blablab lablabl ablabla blablab </p>
			</div>
		</div>
	</div>
</body>