<% title "Blog - index" %>
<body class="grey-bckgrnd">
	<div class="title-cntnr">
		<h1 class="big-white-h1">Blog</h1>
		<p>Le blog du Labo</p>
	</div>
	<div class="standard-form-cntnr2">
		<div class="post-cntnr">
			<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><div class="post-index-img cover"></div><% end %>
			<div class="post-index-txt">
				<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><h2 class="beautiful-txt-color">Pâtissiers: 8 outils pour accélérer votre business sur internet</h2><% end %>
				<h5>Écris par Tim</h5>
				<p>Faire venir du trafic sur votre site web n'est pas suffisant pour tirer toutes les opportunités de faire évoluer votre business. Les experts du marketing sur internet utilisent...</p><br/>
				<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><div class="cover link-img"></div><p class="post-link">Voir l'article</p><% end %>
			</div>
		</div>
	</div>
</body>