<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
	<div style="height:auto; widt:100%; text-align:center; margin-top:1em;margin-left:3%;margin-right:3%;padding-bottom:2em;padding-top:1em;" >
		<div style="border-radius:0.2em;margin-left:5%;margin-right:5%;margin-top:2em; background:white;font-family:Trebuchet MS, Helvetica, sans-serif; padding-top:1em;padding-bottom:2em;">
				<h2>VOS RECETTES RÉINVENTÉES</h2>
				<a href="https://www.lelabo-ondemand.com/subscriptions">
					<%= image_tag("launch_offer.png", style: "width: 80%;height: auto;") %>
				</a>
				<p style="font-size:1.4em;">POUR 15 JOURS SEULEMENT</p>
				<p style="font-size:1.4em;">20% SUR TOUTES LES FORMULES</p>
				<p style="font-size:1.1em;">Réductions ultimes chez Le Labo, afin de fêter le lancement de l'application,</p>
				<p style="font-size:1.1em;">mais soyez rapide - l'offre se finit dans 15 jours !</p>
				<p style="color:white;padding-top:1em;padding-bottom:1em;padding-right:1.3em;padding-left:1.3em;text-align:center;max-width:17em;border-radius:0.3em;margin-left:auto;margin-right:auto;background:rgb(66,61,215);">
					<%= link_to "J'EN PROFITE", subscriptions_url, style: "text-decoration:none;color:white;font-size:1.5em;" %>
				</p>
	  	</div>
	  	<p style="color:#777777;"><br/><br/>Le Labo | Wileoo<br/>10, rue de Penthièvre 75008 PARIS</p>
  	</div>
  </body>
</html>
