
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
  	<div style="height:auto; widt:100%; text-align:center; margin-top:1em;margin-left:3%;margin-right:3%;padding-bottom:2em;padding-top:1em;" >
  		<div style="border-radius:0.2em;margin-left:5%;margin-right:5%;margin-top:2em; background:white;font-family:Trebuchet MS, Helvetica, sans-serif; padding-top:1em;padding-bottom:2em;">
        <h2 style="font-size:2em;font-weight:bold;">30 JOURS GRATUITS SUR</h2>
        <h1 style="font-size:3em;font-weight:bold;margin-top:-.7em;">LE NOUVEAU SITE DE SWEETKIT</h1>
        <%= image_tag("responsive.png", style: "width: 15em;height: auto;") %>
        <b style="text-align:left;">
          <p>Nous sommes heureux de vous annoncer que, après de longs mois de travail, le tout nouveau site de Sweetkit est officiellement lancé et en ligne !</p>
        </b>
        <p>À cette occasion, vous bénéficiez dès aujourd'hui de 30 jours pour profiter gratuitement de toutes les fonctionnalités.</p>
        <p>Une nouvelle expérience de création, du début à la fin.</p><br/>
        <a href="http://www.sweetkit.io" style="padding: 0;
      	border: none;
      	background: none;
      	cursor: pointer;
      	padding: .7em 1em .6em 1em !important;
      	font-size: 1em;
      	border-radius: .3em;
      	color: white;
      background: rgb(253,133,9);
      	border-bottom: 2px solid rgb(215, 119, 3);
        text-decoration:none;">ESSAYER LE NOUVEAU SITE</a>
      </div>
      <p style="color:#777777;"><br/><br/>Sweetkit | Wileoo<br/>10, rue de Penthièvre 75008 PARIS</p>
    </div>
  </body>
</html>
