<!-- count how many tasks have been done -->
<span class="task-count">
  <%= list.done_count %> / <%= list.total_tasks %>
  <% if list.all_done %>
    <%= image_tag 'clipboard.png', class: "tasks-cmplt" %>
  <% end %>
	<div class="progressBar"></div>
</span>
<!-- Tasks progress bar -->
