<% title "Modifier #{@recipe.name.humanize}" %>
<div class="actions-cntnr">
 	<div class="action-cntnr">
		<%= render 'form' %>
		<%= link_to 'Voir', @recipe %> |
		<%= link_to 'Retour', recipes_path %>
	</div>
</div>
