<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
	</div>
	<%= render "recipe_bar" %>
</div>
<div class="action-cntnt recipe-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
				<div class="recipe_values">
				  <% if @recipe.quantities.blank? && @recipe.sub_recipes.blank? %>
				    <p>Ajoutez des ingrédients à votre recette pour pouvoir l'équilibrer</p>
				  <% else %>
						<%= render "recipes/equilibrium_list", recipe: @recipe %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
