<% title "Nouvelle recette" %>
<div class="action-cntnt">
  <div class="actions-cntnr">
    <div class="action-cntnr page-new-ttl">
      <%= render "form", recipe: @recipe, cache: true %>
    </div>
  </div>
</div>
