<% title "Nouvelle recette" %>
<div class="actions-cntnr">
 	<div class="action-cntnr">
	  	<h1>Nouvelle recette</h1>
	  	<%= link_to recipes_path do %>
	      <p class="ingredient-btn">Retour à l'index</p><br/>
	    <% end %>
		<%= render 'form' %>
	</div>
</div>