<% title "Nouvelle recette" %>
<div class="actions-cntnr">
  <div class="page-new-ttl action-cntnr">
		<h2>NOUVELLE RECETTE</h2>
	</div>
  <div class="action-cntnr page-new-ttl">
    <%= render "form" %>
  </div>
</div>
