<% title "Nouvelle recette" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Nouvelle recette</h1>
		<p class="lft-p">Créer une nouvelle recette</p>
	</div>
	<div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
    <div class="action-cntnr page-new-ttl">
      <%= render "form", recipe: @recipe, cache: true %>
    </div>
  </div>
</div>
<div class="select-measure popover-bck popover-new" style="display:none;">
	<div class="popover popover-big">
		<div class="popover-ttl">
			<h3>+ Créer un nouvel ingrédient</h3>
		</div>
		<div class="popover-cnt">
			<div id="circleG" class="loading-indicator" style="display:none;">
				<br/><br/>
				<div id="circleG_1" class="circleG"></div>
				<div id="circleG_2" class="circleG"></div>
				<div id="circleG_3" class="circleG"></div>
				<br/><br/><br/>
			</div>
			<%= render "ingredients/quick_form", ingredient: @ingredient, categories: @categories %>
		</div>
	</div>
</div>
