<% title "Nouvelle recette" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Nouvelle recette</h1>
		<p class="lft-p">Créer une nouvelle recette</p>
	</div>
	<div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
    <div class="action-cntnr page-new-ttl">
      <%= render "form", recipe: @recipe, cache: true %>
    </div>
  </div>
</div>
