<% title "Recettes partagées" %>
<div class="ttl-header">
	<%= render "layouts/ttl_header", title: "Recettes partagées", description:"Ajoutez des recettes a votre carnet" %>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
      <% @recipes.each do |recipe| %>
        <p><%= link_to preview_recipe_path(recipe.id) do %><%= recipe.name %><% end %></p>
      <% end %>
  </div>
</div>
