<% title "#{@ingredient.name.humanize}" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<h2 class="ing-bg-name"><%= @ingredient.name.mb_chars.upcase %></h2><br/>
		<%= render "form", ingredient: @ingredient %>
	</div>
</div>
