<% title "Ingrédients" %>
<div class="ttl-header">
	<%= render 'layouts/ttl_header', title: "Ingrédient", description: "Créer un ingrédient" %>
	<div class="page-ctas">
		<%= link_to ingredients_path do %>
			<p class="primary-btn ttl-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="action-cntnr page-new-ttl">
			<%= render "form", ingredient: @ingredient %>
		</div>
	</div>
</div>
