<% title "Recherche" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<div class="title-cntnr2">
			<h1 class="lttl-intro-h1">Ingrédients</h1>
			<%= link_to new_ingredient_path do %><p class="ingredient-btn">Retour à l'index</p><% end %><br/>
			<div class="ingredient-for"><br/>
				<h3>Résultats de la recherche</h3>
				<% if @results.blank? %>
					<p>Aucun ingrédient ne correspond à votre recherche.</p>
				<% else %>
					<%= render "ingredients/ingredients_result", results: @results, ingredient: @ingredient %>
				<% end %>
			</div>
		</div>
	</div>
</div>
