<div class="actions-cntnr">
	<div class="action-cntnr">
		<h3>Merci pour votre inscription <%= @user.firstname %>, l'application sera bientôt disponible.</h3>
		<p>Vous serez averti par email lors de la mise en place des fonctionnalités</p>
	</div>
</div>

