<br/><br/><br/><br/><br/><br/><br/>
	<div class="see-u-soon">
		<%= image_tag "happy.png", class: "see-u-img", alt: "prochainement happy face" %>
		<h3>Merci pour votre inscription, l'application sera bientôt disponible.</h3>
		<p>Vous serez averti par email lors de la mise en place des fonctionnalités</p>
	</div>


