<% title "Aide" %>
<%= link_to root_path do %><p class="red-color"><span class="image-hovered"></span>Retour à l'accueil</p><% end %>
<div class="title-cntnr">
	<h1 class="big-white-h1">Aide</h1>
</div>
<div class="standard-form-cntnr">
	<h2>Créer une recette</h2>
	<h2>Créer une nouvelle catégorie de recette</h2>
	<h2>Ajouter un fournisseur</h2>
	<h2>Créer de nouveaux ingrédients</h2>
	<h2>Modifier votre profile utilisateur</h2>
	<h2>Changer votre mot de passe</h2>
	<h2>Partager une recette sur facebook</h2>
	<h2>Imprimer une recette</h2>
	<h2>Télécharger une recette au format PDF</h2>
	<h2>Inviter un autre utilisateur sur mon compte</h2>
	<h2>Les recettes star</h2>
	<h2>Créer un planning de production</h2>
	<h2>Équilibrer une recette</h2>
	<h2>Utiliser la barre de recherches</h2>
	<h2>Utiliser la fonction "étape par étape"</h2>
</div>