<% title "Mentions Légales" %>
<div class="title-cntnr">
	<h1 class="big-white-h1">Mentions Légales</h1>
</div>
<div class="brng-txt-cntnr">
  <h1>MENTIONS LÉGALES</h1>
		<h3>EDITEUR</h3>
		<p>WILEOO, SASU</p>
		<p>13, rue de Penthièvre</p>
		<p>75008 PARIS</p>
		<p>Capital Social : 10.000 € euros</p>
		<p>RCS de Paris</p>
		<p>N° de TVA intracom. : FR20 814015111</p>
		<h3>CRÉDITS</h3>
		<p>Hébergement du site : Heroku</p>
		<h3>VIE PRIVÉE</h3>
		<p>Toutes les informations de votre compte ne sont utilisées que dans le cadre de votre relation commerciale avec www.lelabo-ondemand.com. Ces informations ne sont jamais partagées avec des tiers ou revendues.</p>
</div>
