<% title "CGV" %>
<div class="title-cntnr">
	<h1 class="big-white-h1">Conditions Générales de Vente</h1>
</div>
<div class="brng-txt-cntnr">
	<h2>PRÉAMBULE </h2>
	<p>Le site internet lelabo-ondemand.com  accessible à l’adresse www.lelabo-ondemand.com, a pour objet de permettre
	la création, la gestion et l'équilibrage des recettes pour les professionnels des métiers de bouche.<br/>
	Les présentes conditions générales de vente (ci-après désignées par les « Conditions Générales de Vente ») définissent les conditions et modalités d’achat de prestations de service sous forme d'abonnement en fonction de l’option choisie par le Membre du Site.<br/>
	Les présentes Conditions Générales de Vente s’appliquent aux Membres.<br/>
	Elles viennent compléter les Conditions Générales d’Utilisation, accessibles sur le Site et applicables à tous les Utilisateurs du Site.<br/>
	<h2>ARTICLE I – OBJET : </h2>
	Les présentes Conditions Générales de Vente ont pour objet de définir les règles régissant l'utilisation payante des outils de création, de gestion et d'équilibrage des recettes.<br/>
	<h2>ARTICLE II – PAIEMENT PAR ACHAT A L’UNITE :</h2>
	A/ Conditions préalables<br/>
	L’achat ponctuel d'un abonnement suppose que<br/>
	l’Utilisateur du Site se soit inscrit comme Membre et ait accepté les Conditions Générales d’Utilisation<br/>
	le Membre ait fourni ses coordonnées exactes : <br/>
	Il doit  informer immédiatement la Société de toute perte ou utilisation non autorisée de votre compte, de ses identifiants et mot de passe. Les mots de passe et identifiants sont personnels et il doit s’engager à ne pas les divulguer. A ce titre, il est seul responsable de leur utilisation. Toute tentative de substitution de mot de passe ou d'identifiant d'un autre client est strictement interdite.<br/>
	le Membre ait accepté les présentes Conditions Générales de Vente <br/>
	B / Mise en œuvre <br/>
	L’achat ponctuel de service de gestion de recettes suppose que le Membre ait déposé au préalable par Stripe® un crédit suffisant sur le Site correspondant au montant de l'abonnement qu'il a choisi. 
	1°) Prix <br/>
	L’acquisition d’une licence sur les prestations du site suppose le paiement du prix requis, affiché au bas de la vidéo du projet choisi. <br/>
	Les prix indiqués des abonnements des prestations du Site s'entendent prix unitaires en Euros, Toutes Taxes Comprises (TTC). <br/>
	Les frais de communication liés à l’utilisation du Service restent à la charge du Membre <br.>
	2°) Modalités de paiement<br/>
	L’acquisition d'une formule d'abonnement se décompose en plusieurs étapes : <br/>
	La commande<br/>
	Après identification préalable (identifiant et mot de passe), le Membre peut passer commande en ligne.<br/>
	Toute commande vaut acceptation des prix et de l’objet de la commande, à savoir le contenu, tel que décrit sur le Site. <br/>
	La confirmation<br/>
	Une fois sa commande vérifiée, le Membre devra confirmer sa commande. <br/>
	Le Paiement <br/>
	Le paiement s’effectue uniquement en ligne par carte bancaire, de manière sécurisée.  <br/>
	Sauf preuve contraire, les données enregistrées par la Société constituent la preuve des transactions entre la Société et le Membre<br/>
	<h2>ARTICLE III - ABSENCE DE DROIT DE RETRACTATION :</h2>
	Conformément aux dispositions légales en vigueur, les achats de contenus numériques sont fermes et définitifs, qu’ils se fassent dans le cadre d’un achat unitaire ou forfaitaire. Ils ne pourront donc donner lieu à échange ou remboursement.<br/>
	<h2>ARTICLE IV - FOURNITURE DES TUTORIELS VIDEO : ASPECTS TECHNIQUES :</h2>
	B/ Internet <br/>
	Le Service n’est accessible qu’aux personnes disposant d’un système informatique suffisant avec les logiciels adéquats leur permettant notamment de télécharger les fichiers contenant les recettes. L’utilisation du Site implique également un accès à l’Internet. <br/>
	Les Membres déclarent bien connaître Internet, ses caractéristiques et ses limites et reconnaissent :<br/>
	que les transmissions de données sur Internet ne bénéficient pas d'une fiabilité technique absolue, celles-ci circulant sur des réseaux hétérogènes aux caractéristiques et capacités techniques diverses, qui sont parfois saturés à certaines heures de la journée ;<br/>
	que les données circulant sur Internet ne sont pas protégées contre des détournements éventuels, et qu'ainsi la communication de toute information est effectuée par les Membres à leurs risques et périls.<br/>
	C/ Site web<br/>
	La Société n’est pas responsable si l’internaute ne peut accéder au Site, en raison notamment d’opérations de maintenance ou si l’accès est interrompu, à quelque moment que ce soit, ou si un quelconque défaut, indépendant de sa volonté, empêche de réaliser une opération.  La Société ne garantit pas que le site soit exempt de virus informatiques ni d’autres anomalies indépendantes de sa volonté. <br/>
	<h2>ARTICLE V – LICENCE SUR LES FICHIERS SOURCES</h2>
	En aucun cas le Membre ne peut procéder à la revente ou à la rediffusion de contenu à titre gratuit ou onéreux.<br/>
	La Société ne sera pas responsable des dommages subis ou occasionnés par le logiciel, qu’il s’agisse de dommages matériels ou immatériels, consécutifs ou non consécutifs. <br/>
	<h2>ARTICLE VI – DONNEES PERSONNELLES :</h2>
	Le Membre  est amené à fournir des informations le concernant (nom, prénom, adresse e-mail etc.)<br/>
	Ces informations ayant un caractère personnel, il est précisé, conformément à l’article 32 de la Loi Informatique et Libertés de la Loi du 6 janvier 1978 modifiée par la loi relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel du 6 août 2004, que les informations, signalées par un astérisque, sont indispensables à la Société pour réaliser les Services et le Site et que les autres informations éventuellement demandées, pour laquelle la réponse est facultative, sont destinées à mieux connaître l’internaute ainsi qu’à améliorer les services qui lui sont proposés.
	Le traitement des données personnelles de chaque Membre est effectué par la Société, qui s’engage à assurer un niveau de protection suffisant des informations fournies pour garantir le respect de la vie privée et des libertés et droits fondamentaux des personnes.
	Chaque Membre dispose d’un droit d’opposition, d’accès, de modification, de rectification et de suppression des données qui le concernent (Articles 38 à 40 de la  Loi du 6 janvier 1978 modifiée par la loi relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel du 6 août 2004.
	Chaque Membre peut exercer ces droits en adressant une lettre recommandée avec accusé de réception au responsable du traitement des données à l’adresse :
	bonjour@lelabo-ondemand.com.<br/>
	En cas d'accord exprimé par le Membre lors de son inscription, la Société est susceptible de lui adresser, par courrier et/ou par courrier électronique, une newsletter et/ou des offres de produits et de services pour la Société ou des partenaires de la Société.<br/>
	En dehors du cas prévu ci-dessus, les données personnelles ne feront l’objet d’aucune communication à des tiers. Toutefois, elles pourront être divulguées en application d’une loi ou d’un règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente, ou encore, si cela s’avère nécessaire aux fins pour la Société de préserver ses droits et intérêts. <br/>
	Wileoo réserve au Membre la possibilité de refuser l'implantation de cookies, chaque Membre ayant  la faculté de procéder à la modification de la configuration de son ordinateur, une telle modification étant toutefois susceptible d'altérer les fonctionnalités du Site.<br/>
	<h2>ARTICLE VII – RESPONSABILITE :</h2>
	A/ Responsabilité lors de la fourniture par les Membres de leurs coordonnées<br/>
	Il est de la responsabilité des Membres de s’assurer que les coordonnées qu’ils fournissent sont correctes. En aucun cas, la responsabilité de la Société ne pourra être retenue si, par exemple, un Membre ne reçoit pas le logiciel, dont il a acquis la Licence, en raison d’une erreur de son fait dans la saisie de ses coordonnées.<br/>
	B/ Responsabilité quant à la divulgation des identifiants et mots de passe <br/>
	La Société ne pourra en aucun cas être responsable des dommages liés à la perte ou à la divulgation des identifiants et mots de passe propres à chaque Membre.<br/>
	C/ Responsabilité quant au contenu du logiciel <br/>
	D/ Dommages subis ou occasionnés par le logiciel<br/>
	La Société ne sera pas responsable des dommages subis ou occasionnés par le logiciel, qu’ils s’agissent de dommages matériels ou immatériels, consécutifs ou non consécutifs.<br/>
	<h2>ARTICLE VIII – PROPRIETE INTELLECTUELLE :</h2>
	Tous les droits de propriété intellectuelle portant sur le Site et son contenu sont la propriété exclusive de la Société.<br/>
	<h2>IX – LOI APPLICABLE ET JURIDICTION COMPETENTE :</h2>
	A/ Loi applicable <br/>
	Les présentes Conditions Générales de Vente sont régies par la loi française. En conséquence, la version des Conditions Générales de Vente en langue française fait foi. Dans l’hypothèse où un Membre serait de nationalité étrangère, il est convenu que le contrat conclu entre ce dernier et la Société restera soumis à la loi française. <br/>
	B/ Tribunal compétent<br/>
	Tous différends relatifs à la formation, la validité, l'interprétation, l'exécution et l’extinction du contrat conclu entre ce dernier et la Société et que les parties ne pourraient résoudre à l'amiable, seront soumis au Tribunal de commerce de Paris. Cette clause, par accord exprès, des parties s’applique également en cas de procédure en référé, de pluralité de défendeurs ou d’appel en garantie.</p>
</div>
