<% title "CGU" %>
<div class="title-cntnr">
	<h1 class="big-white-h1">Conditions Générales d'Utilisation</h1>
</div>
<div class="brng-txt-cntnr">
	<h2>Préambule :</h2>
	<p>Le site internet lelabo-ondemand.com  accessible à l’adresse www.lelabo-ondemand.com, a pour objet de permettre
		la création, la gestion et l'équilibrage des recettes pour les professionnels des métiers de bouche.
	</p>
	<h2>ARTICLE I – OBJET :</h2>
	<p>Toute utilisation du Site mis à la disposition des internautes par lelabo-ondemand.com
		implique le respect des présentes Conditions Générales d’Utilisation.</p>
	<h2>ARTICLE II – INSCRIPTION AU SITE ET CONDITIONS D’ACCESSIBILITE :</h2>
	<p>3-1. Modalités d’inscription
	Avant toute utilisation des services proposés, l’internaute doit procéder à son inscription sur le Site.<br/>
	La procédure d’inscription se déroule selon les conditions et modalités exposées ci-après.<br/>
	Formulaire d’inscription<br/>
	L’internaute qui souhaite s’inscrire au Site doit remplir un formulaire précisant un nom d’utilisateur et une adresse e-mail valide.<br/>
	Le futur inscrit doit également définir un mot de passe ainsi que son nom, prénom et nom du compte lors de son inscription.<br/>
	En cliquant sur le bouton "TERMINER" de la page de confirmation, l'internaute s'engage à accecpter les présentes conditions générales.<br/>
	Le Membre s’engage à ne fournir que des informations vraies, exactes et complètes.<br/>
	Le Membre est appelé à fournir des informations le concernant (nom, prénom, adresse e-mail etc.)<br/>
	Ces informations ayant un caractère personnel, il est précisé, conformément à l’article 32 de
	la Loi Informatique et Libertés du 6 janvier 1978, que les informations, signalées par un astérisque,
	sont indispensables à la Société pour réaliser les Services et le Site et que les autres informations
	éventuellement demandées, pour laquelle la réponse est facultative, sont destinées à mieux connaître
	l’internaute ainsi qu’à améliorer les services qui lui sont proposés.<br/>
	Le traitement des données personnelles de chaque Membre est effectué par la Société,
	qui s’engage à assurer un niveau de protection suffisant des informations fournies pour garantir
	le respect de la vie privée et des libertés et droits fondamentaux des personnes.<br/>
	Chaque Membre dispose d’un droit d’opposition, d’accès, de modification, de rectification
	et de suppression des données qui le concernent
	(Articles 38 à 40 de la Loi Informatique et Libertés du 6 janvier 1978).<br/>
	Chaque Membre peut exercer ces droits en adressant une lettre recommandée avec accusé de réception
	au responsable du traitement des données à l’adresse suivante :<br/><br/>
	Wileoo<br/>
	10, rue de Penthièvre<br/>
	75008 Paris<br/>
	ou par e-mail à l’adresse suivante : bonjour@lelabo-ondemand.com.<br/>
	Les données personnelles ne feront l’objet d’aucune communication à des tiers.
	 Toutefois, elles pourront être divulguées en application d’une loi ou d’un règlement ou en
	 vertu d’une décision d’une autorité réglementaire ou judiciaire compétente, ou encore,
	 si cela s’avère nécessaire aux fins pour la Société de préserver ses droits et intérêts.<br/><br/>
	Le Membre prend acte de ce que par l’acceptation des présentes, il autorise Wileoo
	à procéder à l’installation de cookies sur le disque dur de son ordinateur en vue d’identifier
	chacune de ses connections au Site.<br/>
	Wileoo réserve au Membre la possibilité de refuser l’implantation de cookies,
	chaque Membre ayant la faculté de procéder à la modification de la configuration de son ordinateur,
	une telle modification étant toutefois susceptible d’altérer les fonctionnalités du Site.<br/>
	<br/>
	3-2. Accessibilité
	Le Service n’est accessible qu’aux personnes disposant d’un système informatique suffisant.<br/>
	L’utilisation du Site implique un accès à l’Internet.<br/>
	<h2>ARTICLE III - CONTENUS :</h2>
	Les Membres s’engagent expressément, sous peine de voir leur responsabilité engagée, à ne pas publier sur le Site des propos, des contenus ou des liens hypertextes:<br/>
	susceptibles de porter atteinte à la dignité de la personne humaine ;<br/>
	à caractère injurieux ou diffamatoire ;<br/>
	à caractère pornographique ou pédophile ;<br/>
	faisant l’apologie de crimes contre l’humanité ;<br/>
	incitant à la commission de crimes et délits ;<br/>
	incitant à la haine raciale ou à la discrimination ;<br/>
	portant atteinte à la vie privée et/ou au droit à l’image de toute personne ;<br/>
	portant atteinte aux droits de propriété intellectuelle ou droits voisins d’un tiers ;<br/>
	portant atteinte aux droits de producteurs de bases de données ;<br/>
	constitutifs de publicité trompeuse ou comparative ;<br/>
	faisant la publicité du tabac, de l’alcool ou de médicaments ;<br/>
	contenant un virus ou tout autre programme susceptible d’endommager, de détruire ou d’altérer les systèmes, programmes, fichiers informatiques ou données etc. de la Société ou de ses Membres ;<br/>
	de manière générale, à caractère illicite.<br/>
	Cette interdiction s’applique également aux contenus auxquels donnent accès les liens hypertextes fournis par l’un des Membres sur le Site.<br/>
	Le Membre prend acte de ce que Wileoo se réserve, en cas d’utilisation du Site qui serait contraire
	 aux présentes CGU et plus généralement aux lois et dispositions règlementaires en vigueur, de procéder
	 immédiatement et sans préavis à sa désinscription du Site.<br/>
	 <h2>ARTICLE V – DUREE :</h2>
	 Le contrat entre les Membres et la Société est conclu pour une durée indéterminée. Par contrat, on entend celui formé par l’acceptation des Conditions Générales d’Utilisation par chacun des Membres.<br/>
	 <h2>ARTICLE VI – RESPONSABILITE :</h2>
	 <p>6-1. Responsabilité lors de la fourniture par les Membres de leurs coordonnées<br/>
	 Il est de la responsabilité des Membres de s’assurer que les coordonnées qu’ils fournissent sont correctes.<br/>
	6-2. Responsabilité quant à la divulgation des identifiants et mots de passe<br/>
	La Société ne pourra en aucun cas être responsable des dommages liés à la perte ou à la divulgation des identifiants et mots de passe propres à chaque Membre.<br/>é
	6-3. Responsabilité quant au contenu des Outils<br/>
	La Société ne pourra en aucun cas être responsable du contenu des Outils et notamment de leur pertinence utilitaire. Chaque Membre est donc invité à s'informer sur le Site et à en parcourir la fiche descriptive.<br/>é
	6-4. Dommages subies ou occasionnés par les Outils<br/>
	La Société ne sera pas responsable des dommages subies ou occasionnés par les Outils, qu’il s’agisse de dommages matériels ou immatériels, consécutifs ou non consécutifs.<br/>
	<h2>VII – ASPECTS TECHNIQUES :</h2>
	7-1. Limites de l’Internet<br/>
	Le Membre déclare bien connaître Internet, ses caractéristiques et ses limites et reconnait :<br/>
	que les transmissions de données sur Internet ne bénéficient pas d’une fiabilité technique absolue, celles-ci circulant sur des réseaux hétérogènes aux caractéristiques et capacités techniques diverses, qui sont parfois saturés à certaines heures de la journée ;<br/>
	7-2. Utilisation du Site<br/>
	7-2-1. Dysfonctionnement du Site<br/>
	La Société n’est pas responsable si le Membre ne peut accéder au Site, en raison notamment d’opérations de maintenance ou si l’accès est interrompu, à quelque moment que ce soit, ou si un quelconque défaut, indépendant de sa volonté, empêche de réaliser une opération. La Société ne garantit pas que le site soit exempt de virus informatiques ni d’autres anomalies indépendantes de sa volonté.<br/>
	7-2-2. Disponibilité et accès au Site Web<br/>
	Le Site est normalement accessible 24 heures sur 24, 7 jours sur 7, toute l’année. Toutefois, la Société se réserve le droit, sans préavis, ni indemnité de fermer temporairement ou non l’accès au Site.<br/>
	<h2>VIII – PROPRIETE INTELLECTUELLE :</h2>
	Tous les droits de propriété intellectuelle portant sur le Site et les éléments non créés par le Membre sont la propriété exclusive de la Société.<br/>
	Le Membre est autorisé uniquement à utiliser les outils fournis dans un cadre privé. Le Membre s’engage expressément à ne faire aucun usage contraire aux droits de propriété intellectuelle de la Société.<br/>
	Toute exploitation non autorisée de tout ou partie du contenu du Site et/ou des cours pourra faire l’objet des poursuites judiciaires.<br/>
	<h2>IX. PROCEDURE D’ALERTE ET SIGNALISATION D’ABUS</h2>
	Le Membre est invité à signaler à Wileoo, toute utilisation frauduleuse du Site dont il aurait connaissance et notamment tout message dont le contenu contreviendrait aux interdictions ci-dessus énoncées ou plus généralement aux lois et dispositions règlementaires en vigueur.<br/>
	Toute personne estimant qu’il y a violation sur le Site d’un droit dont il serait titulaire a la possibilité de le signaler à Wileoo (conformément à l’article 6-1-5 de la loi du 21 juin 2004 n°2004-575) par courrier avec accusé de réception, précisant l’ensemble des informations suivantes :<br/>
	l’identité du notifiant : s’il s’agit d’une personne physique : nom, prénom, date de naissance, nationalité, domicile et profession. S’il s’agit d’une personne morale : sa forme, sa dénomination sociale, son siège social et l’organe qui la représente légalement ;<br/>
	la description des faits litigieux et leur localisation précise sur le Site ;<br/>
	les motifs pour lesquels le contenu doit être retiré comprenant la mention des dispositions légales applicables ;<br/>
	Le Membre est informé de ce que Wileoo dispose de la possibilité de retirer, conformément à la loi, toute information ou contenu, ou d’en rendre l’accès impossible, et ce dès lors qu’elle prend connaissance de leur caractère manifestement illicite.<br/>
	<h2>X – LOI APPLICABLE ET JURIDICTION COMPETENTE :</h2>
	10-1. Loi applicable<br/>
	Les présentes Conditions Générales d’Utilisation sont régies par la loi française. En conséquence, la version des Conditions Générales d’Utilisation en langue française fait foi.<br/>
	Dans l’hypothèse où un Membre serait de nationalité étrangère, il est convenu que le contrat conclu entre ce dernier et la Société restera soumis à la loi française.<br/>
	10-2. Tribunal compétent<br/>
	Tous différends relatifs à la formation, la validité, l’interprétation, l’exécution et l’extinction du contrat conclu entre ce dernier et la Société et que les parties ne pourraient résoudre à l’amiable, seront soumis au Tribunal de commerce de Paris. Cette clause par accord exprès des parties s’applique également en cas de procédure en référé, de pluralité de défendeurs ou d’appel en garantie.
	</p>
</div>
