<% title "modifier vos informations" %>
<div class="title-cntnr">
	<h1 class="lttl-intro-h1">To-dos listes</h1>
	<p>Les to-dos listes vous aident à planifier vos journées</p><br/>
	<%= render "to_do_lists/new" %>
	<p class="btn blog-btn list-btn">Créer la première liste</p>
	<div class="explaination-cntnr">
		<h2>Quand utiliser les to-dos ?</h2>
		<div class="border-btm"></div>
		<p>Pour noter toutes les tâches qui vous viennent à l'esprit</p>
		<div class="border-btm"></div>
		<p>Pour définir vos objectifs de production</p>
		<div class="border-btm"></div>
		<p>Pour assigner du travail à vous ou à votre équipe</p>
	</div>
</div>
