<% title "Organisation" %>
<div class="ttl-header">
	<div class="page-ttl" id="lst-index">
		<h1 class="lttl-intro-h1">Organisation</h1>
		<p>Vos listes de tâches</p>
	</div>
	<div class="page-ctas">
		<p class="inside-btn ingredient-btn">+ NOUVELLE LISTE</p>
	</div>
	<div class="page-ttl" id="lst-new" style="display:none;">
		<h1 class="lttl-intro-h1">Nouvelle liste</h1>
		<p>Créer une nouvelle liste</p>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="title-cntnr">
			<% if empty_list %>
				<div class="explaination-cntnr">
					<h2>Quand utiliser les listes de tâches ?</h2>
					<div class="border-btm"></div>
					<p>Pour noter toutes les tâches qui vous viennent à l'esprit</p>
					<div class="border-btm"></div>
					<p>Pour définir vos objectifs de production</p>
					<div class="border-btm"></div>
					<p>Pour assigner du travail à vous ou à votre équipe</p>
				</div>
			<% end %>
		</div>
		<div class="over-x"><%= render "to_do_lists/lists", lists: @lists %></div>
	</div>
</div>
