body{
	text-align: center;
	font-family: Helvetica;
  margin: 0;
  padding: 0;
}

*{
  font-family: "source_sans_proregular";
  color: rgb(43,54,69);
}

:focus {
    outline: 0;
}

.beautiful-txt-color{
  color: rgb(43,54,69);
}

p, h2, h3{
  margin: 0.2em;
  color: #3E4149;
}

@font-face {
    font-family: 'source_sans_problack';
    src: url('sourcesanspro-black-webfont.eot');
    src: url('sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-black-webfont.woff2') format('woff2'),
         url('sourcesanspro-black-webfont.woff') format('woff'),
         url('sourcesanspro-black-webfont.ttf') format('truetype'),
         url('sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('sourcesanspro-extralight-webfont.eot');
    src: url('sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('sourcesanspro-extralight-webfont.woff') format('woff'),
         url('sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('sourcesanspro-light-webfont.eot');
    src: url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff'),
         url('sourcesanspro-light-webfont.ttf') format('truetype'),
         url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

a, a:active, a:hover{
  text-decoration: none;
}

.logo-white{
  width: 13em;
  padding-top: 0.5em;
}

header .transparent{
  border:1px solid transparent;
  text-align: right; 
}

.transparent ul li{
  display: inline-block;
  font-size: 0.9em;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -0.4em;
  opacity: 0.9;
  cursor:pointer;
}

ul li{
  list-style-type: none;
}

.transparent ul li:hover{
  opacity: 1;
}

.btn, button{
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 0.3em;
  border: 2px solid white;
  cursor: pointer;
}

.white{
  opacity: 0.9;
  border: 2px solid white;
}

.black{
  opacity: 0.9;
  border: 2px solid #222222;
}

.white:hover, .black:hover{
  opacity: 1;
}

.to-the-right{
  float: left;
  width: 7em;
  margin-top: 0.4em;
  margin-left: 3em;
}

.cta-btn, button{
  background: rgb(27,189,157);
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid rgb(27,189,157);
  color: white;
}

.cta-btn:hover{
  background: rgb(0,168,134);
  border: 1px solid rgb(0,168,134);
}

.inscription_container{
  border-radius: 0.3em;
  background: rgba(0,0,0,0.5);
  padding-top: 1em;
  padding-bottom: 1em;
  width: 35em;
  margin-right: auto;
  margin-top: 2em;
  margin-left: auto;
}

.inscription_container ul li{
  color: white;
}

.connexion_container{
  background: white;
  border-radius: 0.3em;
  border: 1px solid rgb(230,230,230);
  width: 30em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.connexion-backgrnd{
  background: rgb(249,249,249);
  padding-top: 3em;
  height: 100vh;
}

.subtxt-white span{
  text-decoration: underline;
  color: white;
  margin-left: 1em;
  font-size: 0.9em;
  margin-top: 1.4em;
}

.subtxt-white{
  color: white;
  font-weight: lighter;
  font-size: 0.9em;
  margin-top: 1.4em;
}

.basic-field{
  border-radius: 0.3em;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
  border: 1px solid #F4F4F4;
}

.full-witdth{
  width: 90%;
}

.mini-txt{
  font-size: 0.8em !important;
  font-family: 'source_sans_prosemibold' !important;
}

.field-cntnr{
  height: 3em;
  margin: 0;
  width: 48.5%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.half-width1, .half-width2{
  width: 77%;
}

.basic-field:focus{
  border: 1px solid rgb(37,129,250);
}

.home-cntnr h1, .home-cntnr h2{
	color: white;
	font-weight: 400;
}

.home-cntnr h1{
  font-size: 3.4em;
  font-weight: bold;
  margin-bottom: -0.1em;
}

.home-cntnr h2{
  font-size: 1.3em;
}


.alert_error{
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  border-radius: 1em;
  border: 0.2em solid #333333;
  color: red;
  background: white;
}

.error, .alert, .info, .notice {
    padding:0.35em;
    font-size: 0.9em;
    margin-right: auto;
    margin-left: 20%;
    width: 60%;
    margin-top: 0.3em;
    margin-bottom: 2.2em;
    text-align: center;
    color: #333333;
    border-radius:0.3em;
    position: fixed;
    font-weight: 500;
}
.error, .alert {
  background: rgb(242,96,81) ;
  color: white;
  border-bottom: 1px solid rgb(232,73,61);
}

.success{
  background: #436AAF;
  color: white;
}

.notice {
  color: white;
  background:#436AAF;
}

.degraded{
  background: #333333;
  margin-top:15em;
  padding-top: 1em;
  padding-bottom: 4em;
  text-align: left;
  padding-left: 5em;
}

.degraded ul li{
  color: #D3D3D3;
  font-size: 0.8em;
  margin: 1em;
}

.background-colr, .step-bckgrnd{
  background-image: url(images/landing.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.bckgrnd0{
  background-image: url(images/zero-step.jpg);
}

.bckgrnd1{
  background-image: url(images/first-step.jpg);
}

.bckgrnd2{
  background-image: url(images/second-step.jpg);
}

.bckgrnd3{
  background-image: url(images/third-step.jpg);
}

.degraded ul{
  display: inline-block;
  vertical-align: top;
}

.footer-ttl{
  color: white !important;
}

.mini-footer{
  background: #222222;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.step-left-part, .step-right-part{
  height: 120vh;
  display: block;
  margin: 0;
}

.steps-cntnr{
  width: 100%;
  margin: 0;
  position: relative;
}

.steps-cntnr h1{
  font-family: 'source_sans_proextralight';
  font-size: 2.8em;
  margin-top: -0.1em;
}

.steps-cntnr p, .title-cntnr p{
  font-size: 1.2em;
  text-align: justify;
  font-family: 'source_sans_prolight';
  font-weight: bold;
}

.title-cntnr{
  margin-bottom: 3em;
}

.title-cntnr p{
  text-align: center;
  margin-top: 0.2em;
}

.step-left-part{
  width: 30%;
  padding-right: 5%;
  padding-left: 5%;
  float: left;
}

.step-right-part{
  width: 60%;
  float: right;
}

.logo-steps{
  width: 7em;
  margin-top: 3em;
}

.low-txt, .basic-note{
  color: #B4B4B4;
}

.basic-note{
  font-size: 1em !important;
}

button:hover .btn_arrow{
  -webkit-transform: translate(0.3em,0);
  -moz-transform: translate(0.3em,0);
  -o-transform: translate(0.3em,0);
  -ms-transform: translate(0.3em,0);
}

.btn_arrow{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  width: 0.6em;
  margin-left: 0.3em;
  height: auto;
}

.btn_arrow:before{
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn_arrow:hover:before, .btn_arrow:focus:before, .btn_arrow:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.normal_header ul li{
  color: black;
}

header .normal_header{
  border-bottom: 1px solid #D4D4D4;
  height: 4.1em;
}

.big-white-h1{
  font-family: 'source_sans_prosemibold';
  font-size: 3.8em;
  margin-bottom: 0;
}

.big-ttle{
  font-family: 'source_sans_prosemibold';
  font-size: 1.8em;
}

.plan-cntnr{
  display: inline-block;
  margin: 0.5em;
  vertical-align: top;
  width: 15em;
}

.plan-clr-cntnr{
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 0.8em;
  background: #8e96a3;
}

.plan-txt-cntnr{
  text-align: left;
}

.plan-txt-cntnr b{
  font-family: 'source_sans_probold';
}

.plan-color2{
  background: #05d6b8;
}

.plan-color3{
  background: #0fa4ef;
}

.plan-title, .plan-price, .plan-btn, .plan-type{
  color: white;
}

.plan-price{
  font-size: 2em;
  margin-left: 1.75em;
  margin-top: 1em;
  margin-bottom: 1.4em;
}

.plan-price b{
  font-size: 3.3em;
  color: white;
  position: absolute;
  margin-left: -0.5em;
  margin-top: -0.3em;
}

.plan-price span{
  color:  white;
}

.plan-type{
  opacity: 0.8;
  font-size: 0.9em;
}

.plan-btn{
  margin-top: 3em;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 0.3em;
}

.plan-btn:hover{
  background: rgba(0,0,0,0.3);
}

.plan-btn-color1{
  background: #06b597;
}

.plan-btn-color1:hover{
  background: #16937e ;
}

.soon-banner{
  position: absolute;
  width: 17em;
  margin-left: -8.5em;
  z-index: 100;
  margin-top: -2em;
}

.plan-btn-color2:hover{
  background: #2d6faa ;
}

.plan-btn-color2{
  background: #1c83ea;
}

.colored-p-txt2, .colored-p-txt2 b{
  color: #16937e ;
}

.colored-p-txt1, .colored-p-txt1 b{
  color: #8e96a3 ;
}

.colored-p-txt3, .colored-p-txt3 b{
  color: #1c83ea;
}

.left-cntnr, .full-cntnr{
  display: block;
}

.left-cases p, .left-cases h3{
  text-align: justify;
  color: white;
  opacity: 0.5;
}

.left-cases h3{
  opacity: 1;
}

.left-cntnr{
  float: left;
  background: rgb(54,79,158);
  width: 15em;
  height: 103vh;
  position: fixed;
  margin-top: -0.2em;
  padding-top: 0.5em;
}

.full-cntnr{
  width: auto;
  height: 100vh;
  margin-left: 15em;
}

.logo-smll-cntr{
  width: 4em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.img-right{
  width: 1em;
  float: right;
  opacity: 0.5;
  margin-top: 0.2em;
}

.micro-arrow{
  width: 0.55em;
  margin-left: 0.3em;
}

.user-btn{
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
}

.user-btn:hover{
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.user-btn{
}

.feedback{
  background: white;
  border-radius: 0.3em;
  border: 1px solid rgb(230,230,230); 
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  padding: 1em;
}

.feed-from{
  color: rgb(27,189,157);
  font-family: 'source_sans_prosemibold';
}

.delete-btn-cntnr:hover{
  color: white;
  background: rgb(235,77,92);
}

.delete-btn-cntnr{
  float: right;
  color: rgb(235,77,92);
  padding-left: 1.2em;
  margin-top: -1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.3em;
}

.people-ask-img{
  width: 3em;
  transform:rotate(38deg);
  margin-left: -1.7em;
}

.send-feedback{
  position: fixed; 
  z-index: 1000;
  margin-top: 83vh;
  text-align: justify;
}

.box{
  background: white;
  font-size: 0.8em;
  text-align: left;
  padding: 0.5em;
  width: 8em;
  border-radius: 0.3em;
  position: absolute;
  margin-top: -8em;
  cursor: pointer;
  margin-left: 5em;
}

.buble1, .buble2{
  position: absolute;
  width: 2em;
  margin-left: -2em;
  margin-top: 2em;  
}

.buble2{
  margin-left: 9.5em;
  margin-top: 6em;
}

.form{
  border-radius: 0.3em;
  background: white;
  height: 7em;
  width: 10em;
  margin-top: -9em;
  margin-left: 3em;
  padding: 0.5em;
}

.hidden-field{
  border: none;
  height: 6em;
  width: 12em;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 0.8em;
}

.form{
  display: none;
}

.hidden-btn{
  border: none;
  font-size: 0.8em;
  background: white;
  cursor: pointer;
  margin-left: 2em;
}





