/*
 *= require_self
 *= require jquery-ui
 */


body{
	text-align: center;
	font-family: Helvetica;
  margin: 0;
  padding: 0;
}

*{
  font-family: "source_sans_proregular";
  color: rgb(43,54,69);
}

:focus {
    outline: 0;
}

/****************
*****************
*****************

FONTS ---- DESIGN

*****************
*****************
****************/

/*    color blue like in blog titles  */
.blog-post-cntnr a, .to-do-cards h2{
  color: rgb(28,157,213);
}

.search-field:focus{
  border: 1px solid rgb(28,157,213);
}

p, h2, h3{
  margin: 0.2em;
  color: rgb(43,54,69);
}

.ghost-txt{
  color: grey; 
}

.tasks-count{
  width: 1em !important; 
}

@font-face {
    font-family: 'source_sans_problack';
    src: url('sourcesanspro-black-webfont.eot');
    src: url('sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-black-webfont.woff2') format('woff2'),
         url('sourcesanspro-black-webfont.woff') format('woff'),
         url('sourcesanspro-black-webfont.ttf') format('truetype'),
         url('sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sabatica_regular';
    src: url('Sabatica-regular.eot');
    src: url('Sabatica-regular.eot?#iefix') format('embedded-opentype'),
         url('Sabatica-regular.woff2') format('woff2'),
         url('Sabatica-regular.woff') format('woff'),
         url('Sabatica-regular.ttf') format('truetype'),
         url('Sabatica-regular.svg#Sabatica-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('sourcesanspro-extralight-webfont.eot');
    src: url('sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('sourcesanspro-extralight-webfont.woff') format('woff'),
         url('sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_prolight';
    src: url('sourcesanspro-light-webfont.eot');
    src: url('sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-light-webfont.woff2') format('woff2'),
         url('sourcesanspro-light-webfont.woff') format('woff'),
         url('sourcesanspro-light-webfont.ttf') format('truetype'),
         url('sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/****************
*****************
*****************

END FONTS  DESIGN

*****************
*****************
****************/

/****************
*****************
*****************

CONTAINERS DESIGN

*****************
*****************
****************/

.action-cntnr, .explaination-cntnr, .post-cntnr, .card-cntnr, .to-do-cards, .tasks-cntnr{
  -moz-box-shadow: 0px 3px 1px #F2F2F2;
  -webkit-box-shadow: 0px 3px 1px #F2F2F2;
  -o-box-shadow: 0px 3px 1px #F2F2F2;
  box-shadow: 0px 3px 1px #F2F2F2;
  border: 1px solid rgb(230,230,230);
  border-radius: 0.3em;
}

/*****************
******************
******************

/CONTAINERS DESIGN

******************
******************
*****************/

/****************
*****************
*****************

BUTTONS -- DESIGN

*****************
*****************
****************/

/*   big buttons   */

.btn, button, .plan-btn, .blog-btn, .delete-btn-cntnr{
  border: none;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  cursor: pointer;
}

/*  small buttons  */

.cancel-btn, .social-btn, .inside-btn{
  border: none;
  border-radius: 0.3em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-right: 2em;
  padding-left: 2em;
  cursor: pointer;
  font-size: 1em;
}

/*   absolute properties   */

.blog-btn, .cta-btn, button, .inside-btn, .btn, button, .plan-btn, .cancel-btn{
  border-radius: 0.3em;
  opacity: 0.9;
}

.blog-btn:hover, .cta-btn:hover, button:hover, .inside-btn:hover, .btn:hover, button:hover, .plan-btn:hover, .cancel-btn:hover{
  opacity: 1;
}

.blog-btn, .cta-btn, button, .inside-btn, .btn, button, .plan-btn, .delete-btn-cntnr:hover, .cancel-btn{
  color: white;
}

/*   buttons with a green background  */

.blog-btn, .cta-btn, button, .inside-btn, .inside-btn{
  background: rgb(27,189,157); 
  border-bottom: 2px solid rgb(17,159,120) !important;
}

/*   buttons with an orange background  */

.plan-btn{
  background: #F9A121;
}

/*   inline-block buttons  */

.social-btn,.cancel-btn, .inside-btn{
  display: inline-block;
  width: auto; 
}

/*   buttons for subscriptions#new/index pages  */ 

.plan-btn{
  opacity: 1;
}

.plan-btn{
  margin-top: 3em;
}

.plan-btn:hover{
  background: #E8900F;
}

.plan-btn-color1{
  background: #06b597;
}

.plan-btn-color1:hover{
  background: #16937e ;
}
.plan-btn-color2:hover{
  background: #2d6faa ;
}

.plan-btn-color2{
  background: #1c83ea;
}

/*  Button for feedbacks  */

.hidden-btn{
  border: none;
  font-size: 0.8em;
  background: white;
  cursor: pointer;
  margin-left: 2em;
}

.blog-btn{
  width: 13em;
  margin-left: auto;
  margin-right: auto;
}

.social-btn{
  border: 2px solid rgb(27,189,157);
  color: rgb(27,189,157) !important;
  width: 7em;
  text-align: center;
}

.cancel-btn{
  background:#808285;
  border-bottom: 2px solid #58595B;
  width: 5em;
  text-align: center;
}

.cta-btn, button{
  font-size: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid rgb(27,189,157);
}

.cta-btn:hover{
  background: rgb(0,168,134);
  border: 1px solid rgb(0,168,134);
}

.delete-btn-cntnr:hover{
  background: rgb(235,77,92);
}

.delete-btn-cntnr{
  float: right;
  color: rgb(235,77,92);
  padding-left: 1.2em;
  margin-top: -1em;
}

button:hover .btn_arrow{
  -webkit-transform: translate(0.3em,0);
  -moz-transform: translate(0.3em,0);
  -o-transform: translate(0.3em,0);
  -ms-transform: translate(0.3em,0);
}

.btn_arrow{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  width: 0.6em;
  margin-left: 0.3em;
  height: auto;
}

.btn_arrow:before{
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn_arrow:hover:before, .btn_arrow:focus:before, .btn_arrow:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/*****************
******************
******************

END-BUTTONS DESIGN

******************
******************
*****************/

a, a:active, a:hover{
  text-decoration: none;
}

.logo-white{
  width: 13em;
  padding-top: 0.5em;
}

header .transparent{
  border:1px solid transparent;
  text-align: right; 
}

.transparent ul li{
  display: inline-block;
  font-size: 0.9em;
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -0.4em;
  opacity: 0.9;
  cursor:pointer;
}

ul li{
  list-style-type: none;
}

.transparent ul li:hover{
  opacity: 1;
}


.white{
  opacity: 0.9;
  border: 2px solid white;
}

.black{
  opacity: 0.9;
  border: 2px solid #222222;
}

.white:hover, .black:hover{
  opacity: 1;
}

.to-the-right{
  float: left;
  width: 7em;
  margin-top: 0.4em;
  margin-left: 3em;
}

.inscription_container{
  border-radius: 0.3em;
  background: rgba(0,0,0,0.5);
  padding-top: 1em;
  padding-bottom: 1em;
  width: 35em;
  margin-right: auto;
  margin-top: 2em;
  margin-left: auto;
}

.inscription_container ul li{
  color: white;
}

.connexion_container{
  background: white;
  border-radius: 0.3em;
  border: 1px solid rgb(230,230,230);
  width: 30em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.connexion-backgrnd{
  background: rgb(249,249,249);
  padding-top: 3em;
  height: 100vh;
}

.subtxt-white span{
  text-decoration: underline;
  color: white;
  margin-left: 1em;
  font-size: 0.9em;
  margin-top: 1.4em;
}

.subtxt-white{
  color: white;
  font-weight: lighter;
  font-size: 0.9em;
  margin-top: 1.4em;
}

.basic-field, .select-field{
  border-radius: 0.3em;
  border: none;
  background: white; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
  border: 1px solid rgb(230,230,230);
}

.full-witdth{
  width: 90%;
}

.mini-txt{
  font-size: 0.8em !important;
  font-family: 'source_sans_prosemibold' !important;
}

.field-cntnr{
  height: 3em;
  margin: 0;
  width: 48.5%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.enlarge-field{
  width: 94%;
  margin-bottom: 1em;
}

.standard-form-cntnr, .standard-form-cntnr2{
  width: 40em;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
  padding: 2em;
  margin-bottom: 5em;
}

.standard-form-cntnr2{
  width: 80%;
  text-align: center;
}

.blog-post-cntnr{
  width: 40em;
  margin-left: auto;
  background: white; 
  margin-right: auto;
  z-index: 2;
  text-align: justify;
}

.blog-post-cntnr p{
  font-size: 1.1em;
  font-weight: lighter;
  color: #444444;
}

.blog-post-cntnr h2{
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.blog-head-img{
  width: 100%;
}

.blog-pen{
  width: 1em;
  margin-right: 0.7em;
}

.standard-form3{
  width: 65%;
  margin-top: 5em;
}

.post-autor{
  margin-top: -0.2em;
}

.standard-form-cntnr i{
  font-size: 0.8em;
}

.half-width1, .half-width2{
  width: 77%;
}

.basic-field:focus{
  border: 1px solid rgb(37,129,250);
}

.home-cntnr h1, .home-cntnr h2{
	color: white;
	font-weight: 400;
}

.home-cntnr h1{
  font-size: 3.4em;
  font-weight: bold;
  margin-bottom: -0.1em;
}

.home-cntnr h2{
  font-size: 1.3em;
}

.alert_error{
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  border-radius: 1em;
  border: 0.2em solid #333333;
  color: red;
  background: white;
}

.error, .alert, .info, .notice {
    padding:0.35em;
    font-size: 0.9em;
    margin-right: auto;
    margin-left: 20%;
    width: 60%;
    margin-top: 0.3em;
    margin-bottom: 2.2em;
    text-align: center;
    color: #333333;
    border-radius:0.3em;
    position: fixed;
    font-weight: 500;
}
.error, .alert {
  background: rgb(242,96,81) ;
  color: white;
  border-bottom: 1px solid rgb(232,73,61);
}

.success{
  background: #436AAF;
  color: white;
}

.notice {
  color: white;
  background:#436AAF;
}

.degraded, .white-foot{
  background: #333333;
  margin-top:15em;
  padding-top: 1em;
  padding-bottom: 4em;
  text-align: left;
  padding-left: 5em;
}

.white-foot{
  background: white;
  border-top: 1px solid rgb(230,230,230);
}

.degraded ul li, .white-foot ul li{
  color: #D3D3D3;
  font-size: 0.8em;
  margin: 1em;
}

.white-foot ul li{
  color: rgb(43,54,69);
}

.background-colr, .step-bckgrnd, .sale-bckgrnd, .blog-header-img, .feature-img{
  background-image: url(images/landing.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.blog-header-img{
  height: 13em;
  margin-top: -0.6em;
}

.blog-header-img p{
  color: white;
  font-size: 3em;
  padding-top: 1.5em;
  font-family: "source_sans_prolight";
}

.bckgrnd0{
  background-image: url(images/zero-step.jpg);
}

.bckgrnd1{
  background-image: url(images/first-step.jpg);
}

.bckgrnd2{
  background-image: url(images/second-step.jpg);
}

.bckgrnd3{
  background-image: url(images/third-step.jpg);
}

.bckgrnd4{
  background-image: url(images/lelabo-bckgrnd.jpg);
}

.degraded ul, .white-foot ul{
  display: inline-block;
  vertical-align: top;
}

.footer-ttl{
  color: white !important;
}

.mini-footer{
  background: #222222;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.step-left-part, .step-right-part{
  height: 120vh;
  display: block;
  margin: 0;
}

.steps-cntnr{
  width: 100%;
  margin: 0;
  position: relative;
}

.steps-cntnr h1{
  font-family: 'source_sans_proextralight';
  font-size: 2.8em;
  margin-top: -0.1em;
}

.steps-cntnr p, .title-cntnr p, .sale-txt-cntnr p, .sale-txt-cntnr i, .feature-cntnr p, .feature-cntnr i{
  font-size: 1.2em;
  text-align: justify;
  font-family: 'source_sans_prolight';
  font-weight: bold;
}

.title-cntnr{
  margin-bottom: 1em;
  margin-left: 10%;
  margin-right: 10%;
}

.title-cntnr p, .sale-txt-cntnr p, .sale-txt-cntnr i, .feature-cntnr p, .feature-cntnr i{
  text-align: center;
  margin-top: 0.2em;
}

.feature-cntnr i{
  font-size: 0.9em;
}

.step-left-part{
  width: 30%;
  padding-right: 5%;
  padding-left: 5%;
  float: left;
}

.step-right-part{
  width: 60%;
  float: right;
}

.user-img{
  width: 14em;
  border-radius: 0.3em;
  overflow: hidden;
}

.float-right{
  float: right;
}

.logo-steps{
  width: 7em;
  margin-top: 3em;
}

.low-txt, .basic-note{
  color: #B4B4B4;
}

.basic-note{
  font-size: 1em !important;
}

.normal_header ul li{
  color: black;
}

header .normal_header{
  border-bottom: 1px solid #D4D4D4;
  height: 4.1em;
  background: white;
}

.big-white-h1, .big-white-h2, .lttl-intro-h1{
  font-family: 'source_sans_prosemibold';
  font-size: 3.8em;
  margin-bottom: 0;
}

.lttl-intro-h1{
  font-size: 1.6em;
}

.big-white-h2{
  font-size: 2.4em;
}

.big-ttle{
  font-family: 'source_sans_prosemibold';
  font-size: 1.8em;
}

.plan-cntnr, .feature-cntnr{
  display: inline-block;
  margin: 0.5em;
  vertical-align: top;
  width: 15em;
}

.feature-cntnr{
  width: 40%;
  padding: 1em;
}

.plan-clr-cntnr{
  padding: 2em;
  padding-bottom: 1em;
  border-radius: 0.8em;
  background: #8e96a3;
}

.plan-txt-cntnr{
  text-align: left;
}

.plan-txt-cntnr b{
  font-family: 'source_sans_probold';
}

.plan-color2{
  background: #05d6b8;
}

.plan-color3{
  background: #0fa4ef;
}

.plan-title, .plan-price, .plan-type{
  color: white;
}

.plan-price{
  font-size: 2em;
  margin-left: 1.75em;
  margin-top: 1em;
  margin-bottom: 1.4em;
}

.plan-price b{
  font-size: 3.3em;
  color: white;
  position: absolute;
  margin-left: -0.5em;
  margin-top: -0.3em;
}

.plan-price span{
  color:  white;
}

.plan-type{
  opacity: 0.8;
  font-size: 0.9em;
}

.soon-banner{
  position: absolute;
  width: 17.35em;
  margin-left: -8.5em;
  z-index: 100;
  margin-top: -4em;
  transform: rotate(18deg);
}

.colored-p-txt2, .colored-p-txt2 b{
  color: #16937e ;
}

.colored-p-txt1, .colored-p-txt1 b{
  color: #8e96a3 ;
}

.colored-p-txt3, .colored-p-txt3 b{
  color: #1c83ea;
}

.left-cntnr, .full-cntnr{
  display: block;
}

.left-cases p, .left-cases h3{
  text-align: justify;
  color: white;
  opacity: 0.5;
}

.left-cases h3{
  opacity: 1;
}

.logo-smll-cntr{
  width: 4em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1em;
}

.img-right{
  width: 1em;
  float: right;
  opacity: 0.5;
  margin-top: 0.2em;
}

.micro-arrow{
  width: 0.55em;
  margin-left: 0.3em;
}

.feedback{
  background: white;
  border-radius: 0.3em;
  border: 1px solid rgb(230,230,230); 
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  padding: 1em;
}

.feed-from{
  color: rgb(27,189,157);
  font-family: 'source_sans_prosemibold';
}

.red-color{
  font-family: 'source_sans_prosemibold';
  position: absolute;
  right: 0;
  margin-right: 2em;
}

.red-color:hover{
  color: rgb(235,77,92);
}

.image-hovered{
  width: 2em;
  height: 2em;
  background: url(images/exit1.png);
  position: absolute;
  margin-left: -2em;
  margin-top: -0.3em;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.red-color:hover .image-hovered{
  background: url(images/exit2.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.people-ask-img{
  width: 5em;
  margin-left: -2.7em;
  margin-top: 0.5em;
}

.send-feedback{
  position: fixed; 
  z-index: 1000;
  margin-top: 83vh;
  text-align: justify;
}

.box{
  background: white;
  font-size: 0.8em;
  text-align: left;
  padding: 0.5em;
  width: 8em;
  border-radius: 0.3em;
  position: absolute;
  margin-top: -9em;
  cursor: pointer;
  margin-left: 5em;
}

.buble1, .buble2{
  position: absolute;
  width: 2em;
  margin-left: -2em;
  margin-top: 2em;  
}

.buble2{
  margin-left: 9.5em;
  margin-top: 6em;
}

.form{
  border-radius: 0.3em;
  background: white;
  height: 7em;
  width: 10em;
  margin-top: -9em;
  margin-left: 3em;
  padding: 0.5em;
}

.hidden-field{
  border: none;
  height: 6em;
  width: 12em;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 0.8em;
}

.form{
  display: none;
}

.exit-img{
  width: 1.2em;
  position: absolute;
  margin-left: -2em;
}

.user-paths{
  background: #fff;
  border-radius: 0.3em;
  text-align: justify;
  padding-top: 1em;
  padding-bottom: 0.2em;
  position: absolute;
  width: 15em;
  margin-left: 1em;
  border: 1px solid rgb(230,230,230);
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.user-paths ul li{
  margin-left: -2.5em;
  padding-left: 1.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.user-paths ul li:hover{
  background: #201D59;
}

.user-paths a:hover, .user-paths ul li:hover{
  color: white;
}

.small-avatar{
  width: 3em;
  border-radius: 0.2em;
  margin-left: -1em;
}

.left-cntnr .left-cases:hover .user-paths{
  display: block;
}

.left-cntnr .left-cases:hover .arrow-up, .arrow-up2 {
  padding: 0.08em;
  z-index: 3;
  content: ''; 
  background: white; 
  margin-left: 0.2em;
  border: 1px solid rgb(230,230,230); 
  border-width: 1px 1px 0 0; 
  display: block; 
  left: 80%; 
  margin-top: -0.35em;
  height:10px;
  width: 10px;   
  position: absolute;
  /* Chrome */-webkit-transform: rotate(-45deg); 
  /* Chrome */-webkit-transform-origin: 50% 50%; 
  /* Mozilla */-moz-transform: rotate(-45deg); 
  /* Mozilla */-moz-transform-origin: 50% 50%; 
  /* IE 9 */-ms-transform: rotate(-45deg); 
  /* IE 9 */-ms-transform-origin:50% 50%; 
  /* Opera */-o-transform: rotate(-45deg); 
  /* Opera */-o-transform-origin: 50% 50%; 
  transform: rotate(-45deg); 
  transform-origin: 50% 50%
}

.arrow-up2{
  background: #1C274C;
  padding: 0.03em;
  border: none; 
  margin-top: -1em;
  margin-right: 13em;
  left: 40%;
}

.firstname{
  color: rgb(43,54,69);
  font-family: "source_sans_prosemibold";
  font-size: 1.1em;
  margin-left: 1em;
  margin-top: 0.3em;
  position: absolute;
}

.full-header{
  border-bottom: 1px solid rgb(230,230,230);
  height:3.3em;
  padding-right: 1.5em;
  background: white;
  position: fixed;
  right: 0;
  left: 15em;
}

.area-field{
  height: 12em;
  resize:none;
}

.justify{
  text-align: justify !important;
}

#error_explanation li{
  text-align: left;
}

.step-left-part #error_explanation li{
  font-size: 1em;
  color: red;
}

.sale-txt-cntnr{
  border-top: 1px solid rgb(230,230,230);
  border-bottom: 1px solid rgb(230,230,230);
  padding: 4em;
}

.sale-bckgrnd{
  background-image: url(images/lelabobck1.jpg);
  height: 30em;
}

.sale-div-cntnr{
  padding-top: 2em;
}

.feature-img{
  width: 5em;
}

.product-cntnr, .product-left-cntnr{
  height: 30em;
  overflow: hidden;
}

.product-right-img{
  width: 34em;
}

.product-right-img-cntnr{
  right: 0;
  text-align: right;
  width: 40%;
  float: right;
}

.product-left-cntnr{
  float: left;
  width: 55%;
}

.abs-feature{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  width: 4em;
  height: 4em;
}

.feat-img, .feat-img2, .feat-img3, .feat-img4, .feat-img5{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  float: right;
  margin-top: -1.5em;
  width: 1.8em;
  margin-left: 0.6em;
  margin-right:0.6em; 
  height: 1.8em;
  display: inline-block;
}

.search-bar{
  float: right;
  margin-top: -1.2em;
}

.search-field{
  font-size: 1em;
  margin-top: -1.8em;
  padding-right: 0.5em;
  padding-left: 2em;
  padding-top: 0.3em;
  border-radius: 1em;
  padding-bottom: 0.3em;
  border:1px solid rgb(230,230,230);
}

.search-btn{
  width: 1em;
  margin-top: 0.1em;
  position: absolute;
  margin-left: 0.8em;
}

.feat-img2, .feat-img3, .feat-img4, .feat-img5{
  float: left;
}

.feat-img{
  background-image: url(images/to-do-list1.png);
}

.feat-img:hover{
  background-image: url(images/to-do-list2.png);
}

.feat-img2{
  background-image: url(images/home.png);
}

.feat-img2:hover{
  background-image: url(images/home2.png);
}

.feat-img3{
  background-image: url(images/add-circular-outlined-button.png);
}

.feat-img3:hover{
  background-image: url(images/add-circular-outlined-button-2.png);
}

.feat-img4{
  background-image: url(images/cloud.png);
}

.feat-img4:hover{
  background-image: url(images/cloud-2.png);
}

.feat-img5{
  background-image: url(images/ming-circular-dots-lines-logo-2.png);
}

.feat-img5:hover{
  background-image: url(images/ming-circular-dots-lines-logo.png);
}

.feat-img:hover span, .feat-img2:hover span, .feat-img3:hover span, .feat-img4:hover span, .feat-img5:hover span{
  opacity: 1;
  transition: opacity 0.5s 0.2s ease;  
}

.feat-img span, .feat-img2 span, .feat-img3 span, .feat-img4 span, .feat-img5 span{
  opacity: 0;
  display: block;
  position: absolute;
  border-radius: 0.2em;
  margin-top: 3.2em;
  color: white;
  background: #1C274C;
  text-align: center;
  margin-left: -2em;
  padding-right: 0.8em;
  padding-left: 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  font-weight: lighter;
  font-size: 0.8em;
  transition: opacity 0.3s 0.3s ease; /* Mouse enter: delay */
}

.feat-img2 span{
  margin-left: -1.4em;
}

.feat-img3 span, .feat-img5 span{
  margin-left: -3em;
}

.feat-img4 span{
  margin-left: -3.3em;
}

.feat1{
  background-image: url(images/big-star2.png);
}

.feat2{
  background-image: url(images/big-fb2.png);
}

.feat3{
  background-image: url(images/big-calc2.png);
}

.feat4{
  background-image: url(images/big-lock2.png);
}

.feat1:hover, .abs-cntnr:hover .feat1{
  background-image: url(images/big-star1.png);
}

.feat2:hover, .abs-cntnr:hover .feat2{
  background-image: url(images/big-fb1.png);
}

.feat3:hover, .abs-cntnr:hover .feat3{
  background-image: url(images/big-calc1.png);
}

.feat4:hover, .abs-cntnr:hover .feat4{
  background-image: url(images/big-lock1.png);
}

.abs-cntnr{
  border: 2px solid #2C3B8E;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  padding: 1em;
  position: absolute;
  background: white;
  right: 0;
  margin-right: 35%;
}

.abs2{
  margin-top: 8em;
}

.abs3{
  margin-top: 15em;
}

.abs4{
  margin-top: 22em;
}

.abs-txt{
  display: block;
  padding: 1em;
  height: 5.1em;
  margin-left: -29em;
  margin-right: 4em;
  margin-top: -5em;
}

.txt-cntnr{
  background: #F2F4F6;
  padding: 0.7em;
  width: 15em;
  float: right;
  border-radius: 0.3em;
  padding-right: 2em;
  padding-left: 2em;
  margin-right: 3em; 
  text-align: justify;
  margin-top: -0.6em;
}

.abs-cntnr:hover .abs-txt{
  display: block;
}

.abs-cntnr:hover .txt-cntnr h3{
  color: #2377BA;
}

.abs-cntnr:hover .txt-cntnr{
  background:#C9F2F1;
}

.grey-bckgrnd{
  background: rgb(249,249,249);
}

.blue-bckgrnd{
  background: #328ECC; 
}

.blue-bckgrnd h2, .blue-bckgrnd p{
  color: white;
}

.reduce-img{
  width: 20em;
}

.post-cntnr, .card-cntnr{
  display: inline-block;
  width: 22em;
  margin: 1em;
  vertical-align: top;
  background:white;
  height: 28em;
  overflow: hidden;
  text-align: justify;
}

.card-cntnr{
  display: block;
  width: 80%;
  margin-left: auto;
  height: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.post-index-img, .post-index-img2{
  background: url(images/optimisez-vos-ventes-patisseries.png);
  height: 10em;
}

.post-index-img2{
  background: url(images/patisserie-surgelees-ou-non.jpg);
}

.post-index-img3{
  background: url(images/starinstagram.jpg);
}

.blog-inx-img{
  width: 100%;
  height: 10em;
}

.cover{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.post-index-txt{
  padding: 1em;
}

.post-index-txt h2:hover{
  color: rgb(0,78,192);
  text-decoration: underline;
}

.post-index-txt h2{
  font-family: "source_sans_proregular";
  font-size:1.4em;
  text-align: left;
}

.post-index-txt h5{
  font-family: "source_sans_proregular";
  font-size:0.8em;
  margin-top: -0.1em;
  margin-left: 0.4em;
  color: rgb(100,100,100);
}

.post-index-txt p{
  font-family: "source_sans_prolight";
  font-size:1em;
  margin-top: -0.1em;
  margin-left: 0.4em;
  color: rgb(100,100,100);
}

.post-link{
  padding-left:2em;
  color: #3B3B3B
}

.link-img{
  width: 2em;
  height: 2em;
  position: absolute;
  margin-top: -0.5em;
  background-image: url(images/arrow2.png);
}

.link-img:hover{
  background-image: url(images/arrow1.png);
}

.left-cntnr{
  float: left;
  background: rgb(54,79,158);
  width: 15em;
  height: 103vh;
  position: fixed;
  margin-top: -0.2em;
  padding-top: 0.5em;
}

.full-cntnr{
  width: auto;
  margin-left: 15em;
}

.actions-cntnr{
  width: 100%;
  min-height: 100vh;
  background:rgb(249,249,249);
  margin-right: auto;
  padding-top: 3.1em;
  border: 1px solid transparent;
  margin-left: auto;
  padding-bottom: 2em;
  margin-left: 15em;
  width: auto;
}

.tasks-cntnr{
  text-align: justify;
}

.ttl-task{
  font-size: 1.6em; 
  font-family: "source_sans_prosemibold";
  margin-right: 1em;
}

.action-cntnr, .tasks-cntnr{
  background: white; 
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 55em;
  padding: 3em;
  margin-top: 1em;
}

.see-u-img{
  margin-bottom: 1em;
  width: 10em;
  height: auto;
}

.checkout-cntnr{
  min-height: 100vh;
  margin-top: 0em;
  padding-top: 4em;
  padding-bottom: 3em;
}

.card-steps-cntnr{
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding-bottom: 4em;
}

.card-steps-cntnr h3{
  font-size: 1.6em;
  margin-bottom: 1em;
  font-family: "source_sans_prolight";
}

.checked-img{
  margin-right: 0.5em;
  width: 1.5em;
}

.secure-img, .select-img{
  position: absolute;
  width: 1.5em;
  margin-top: 0.7em;
  margin-left: 0.8em;
}

.select-img{
  width: 1em;
  margin-left: -2em;
  margin-top: 1.1em;
}

.checkout{
  background: #3180FF;
  border: 1px solid #3180FF;
  padding-left: 2.2em; 
}

.checkout:hover{
  background: #0C65F4 ;
  border: 1px solid #0C65F4 ;
}

.grey-txt{
  font-size: 0.8em;
  color: rgb(170,170,170);
}

.select-field{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-right: 2em;
}

.blog-cta{
  background: #8FE3F9;
  text-align: center; 
  border-radius: 0.3em;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.blog-cta h2{
  color: white;
  font-size: 1.8em;
  margin-top: -1.3em;
  margin-bottom: -0.7em;
}

.blog-cta-img{
  margin-top: 1em;
  width: 7em;
}

.blog-img{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.social-icn{
  border: 1px solid rgb(230,230,230);
  height: 7em;
  width: 5em;
  position: fixed;
  padding-top: 1em;
  background: white;
  margin-top: -3em;
  margin-left: 2em;
  border-radius: 0.2em;
}

.social-share{
  text-align: center;
  margin-bottom: 1em;
}

.base-page-cntnr{
  background: rgb(249,249,249); 
  min-height: 100vh;
  margin-top: -2.5em;
}

.explaination-cntnr{
  width: 30em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
  background: rgb(255,250,229);
}

.explaination-cntnr h2{
  font-size: 1.3em;
}

.explaination-cntnr p{
  font-size: 1em;
}

.border-btm{
  border-bottom: 1px solid rgb(230,230,230);
  margin-top: 1em;
  margin-bottom: 1em;
}

.simple-form-cntnr{
  border-radius: 0.3em;
  padding: 0.5em;
  display: none;
  margin-bottom: 0.5em;
}

.simple-field, .simple-field2{
  margin: 0;
  border:none;
  background: transparent;
  border-bottom:1px solid rgb(230,230,230);
  border-radius: 0em;
  width: 94%;
}

.simple-field{
  font-family: "source_sans_prosemibold";
}

.simple-field:focus{
  border:0px;
  border-bottom:1px solid rgb(230,230,230);
}

.to-do-cards{
  padding: 1em;
  text-align: justify;
  width:18em; 
  height: 6em;
  display: inline-block;
  vertical-align: top;
  margin: 0.3em;
  overflow: hidden;
}

.to-do-cards h2{
  font-size: 1.3em;
}

.inline_divs .taskname{
  display: inline-block;
}

.inline_divs{
  border-radius: 0.4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.3em;
  margin-right: -0.5em;
  margin-left: -0.5em;
  cursor: pointer;
}

.inline_divs:hover{
  background: rgba(0,0,0,0.05);
}

.create-task .check{
  position: absolute;
}

.edittask{
  display: none;
}

.taskname, .edittask{
  margin-left: 1.9em;
}

.taskname{
  cursor: pointer;
  width: 90%; 
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  cursor: pointer;
}

.progressBar{
  width: 100%; 
}

.ui-progressbar{
  border: none !important;
  border-radius: 1em !important;
  height: 0.5em !important;
  background:#E6E6E6 !important;
}

.ui-progressbar-value{
  background: #2EC46B !important;
  border-right:none !important;
}

.tasks-cmplt, .tasks-cmplt2{
  width: 3.6em;
  margin-right: -1em; 
  margin-top: -3.3em;
  float: right;
}

.tasks-cmplt2{
  margin-top: -1em;
  margin-right: -1.5em;
}

.delete-tsk-btn{
  width: 1em; 
  float: right;
  margin-right: 0.2em;
  opacity: 0.4;
  margin-top: -1.4em;
}

.delete-tsk-btn:hover{
  opacity: 0.8;
}

.bckgrnd-trsp input[type="checkbox"],.inline_divs input[type="checkbox"]{
  display: none;
}

.check-cntnr{
  position: absolute;
}

.valt, .class-helper label{
  position: absolute;
  background: white;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  border-radius: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-family: 'sabatica_regular';
  font-size: 1em;
  color:#A3A3A3;
}

.task-field{
  background: transparent;
  width: 80%;
  font-size: 1em;
  padding-top: 0.2em;
  box-shadow:inset 0 0 3px 1px rgb(240,240,240);
  border:1px solid rgb(230,230,230);
  padding: 0.4em;
  border-radius: 0.2em;
}

.class-helper label{
  border-radius: 0.2em;
  border: 1px solid #E3E3E3; 
}

.check-cntnr label:hover{
  background: transparent;
}

.bckgrnd-trsp label{
  background: transparent;
}

.smll-txt{
  font-size: 0.9em;
}

.smll-btn{
  width: 5em !important;
  padding-left: 0.6em;
  padding-right: 0.6em;
  text-align: center;
}

.finished-tsks{
  text-decoration: line-through;
  color: #A3A3A3;
}

.due-mnth, .day-name-cntnr, .mnth-name-cntnr{
  position: absolute;
}

.due-mnth{
  width: 3em;
  height: 1em;
  font-size: 0.6em;
  border-top-right-radius: 0.2em;
  border-top-left-radius: 0.2em;
  text-align: center;
  background: rgb(55,176,234);
}

.mnth-name-cntnr{
  margin-top: -0.2em;
  margin-left: -0.8em;
  color: white;
}

.day-name-cntnr{
  margin-top: 0.6em;
  margin-left: -0.48em;
}

.due-day{
  border: 1px solid rgb(55,176,234);
  padding-right: 1.05em;
  padding-bottom: 0.3em;
  padding-left: 1.05em;
  margin-top: 0.5em !important;
  border-radius: 0.2em;
  font-size: 0.8em;
}

.due-cntnr{
  margin-left: 1em;
}

.done-tasks{
  margin-bottom: 1em;
}

.element-btn{
  cursor: pointer;
}

.big-field{
  font-size: 1.2em;
}

.arrow-img{
  width: 1em;
  margin-left: 1em;
  position: absolute;
}

.assigned{
  margin-left: 2.3em;
}

.delte-list{
  font-size: 0.9em;
}

.delte-list:hover{
  color:rgb(209,72,65);
}

.create-task ul{
  padding: 0;
}




