C'est le moment de créer votre mot de passe !

La prochaine étape pour préparer votre compte est de choisir un mot de passe.
Nous sommes ravis que vous utilisiez Sweetkit !

<%= link_to "Créer mon mot de passe" , confirmation_url(@resource, confirmation_token: @token) %>
PS : Si vous avez la moindre question, vous pouvez nous contacter en répondant à cet email.</p>

Sweetkit | Wileoo
10, rue de Penthièvre 75008 PARIS
