<div class="load-parent" style="display:none;">
  <div class="load-url">
    <%= image_tag "test.png", class: "load-img" %>
    <div id="circleG" class="circles">
      <div id="circleG_1" class="circleG"></div>
      <div id="circleG_2" class="circleG"></div>
      <div id="circleG_3" class="circleG"></div>
    </div>
  </div>
</div>
